asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama-lpa @ file:///C:/Users/user/Downloads/colorama_lpa-0.4.4b1.0-py2.py3-none-any.whl
Django==3.1.6
docutils==0.16
google-images-download==2.8.0
gTTS==2.2.1
guizero==1.1.1
idna==2.10
imgkit==1.0.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
mutagen==1.45.1
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
playsound==1.2.2
pygame==2.0.0
Pygments==2.8.1
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==300
regex==2020.11.13
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
spotipy==2.16.1
sqlparse==0.4.1
ttkthemes==3.2.0
urllib3==1.26.2
wikipedia==1.4.0
